@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* NavBar */
.font-siz{
        font-size: 12px !important;
        font-weight: 600;
}

video{
    /* height: 80vh; */
    height: 870px;
    width: 100%;
    display: flex;
}

.heading-section{
    color: navajowhite;
    font-size: 3rem;
    margin-top: -520px;
    opacity: .9;
}


/* Flash news */

.latest-news{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      width: 100%;
      /* border: 2px solid red; */
      margin-top: 350px;
  }
  
  
  .news-container {
      overflow: hidden;
      width: 100%;
      font-family: "Roboto", sans-serif;
      box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
  
  .news-container ul {
      display: flex;
      list-style: none;
      margin: 0;
      animation: scroll 25s infinite linear;
  }
  
  .news-container ul li {
      white-space: nowrap;
      font-size: 20px;
      color: black;
      margin-top: 20px;
      /* padding: 24px 24px; */
      position: relative;
  }
  
  .news-container ul li::after {
      content:"";
      color: #b8b8b8;
      width: 1px;
      height: 100%;
      background: greenyellow;
      position: absolute;
      top: 0;
      right: 0;
  }
  
  .news-container ul li:last-child::after {
      display: none;
  }
  
  @keyframes scroll {
      from {
          transform: translateX(100%);
      }
  
      to {
          transform: translateX(-1083px);
  
      }
  }

  /* why antaris */

  .font-h h1{
    font-size: 75px;
    font-weight: 700;
  }

  .for-gap li{
    margin-top: 20px;
  }

  .for-some span h2, p{
    font-weight: 800;
  }

  /* expectation */

  .shadow{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  
  /* testimonial */ 
.testimonial{ margin: 0 20px 50px; }
.testimonial .pic{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 15px 15px 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .testimonial-profile{
    display: inline-block;
    position: relative;
    top: 15px;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2f2f2f;
    text-transform: capitalize;
    margin: 0 0 7px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #5d7aa7;
}
.testimonial .description{
    padding: 20px 22px;
    background: #1f487e;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    margin: 0;
    position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
    content: "";
    border-width: 18px 0 0 18px;
    border-style: solid;
    border-color: #5d7aa7 transparent transparent;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.testimonial .description:after{
    border-width: 18px 18px 0 0;
    left: auto;
    right: 0;
}
.owl-theme .owl-controls{
    margin-top: 10px;
    margin-left: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
    opacity: 0.8;
    background: #fff;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 20px;
    color: #1f487e;
}
.owl-next:before{ content: "\f054"; 
}

/* footer */


footer {
    margin-top: 400px;
    background-color: #121315;
    color: #ffffff;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 2em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: #2a8ded;
    font-size: 1.6em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #2a8ded;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i:hover {
    color: #2a8ded;
  }
  .row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .row.secondary i {
    font-size: 1.8em;
    color: #2a8ded;
  }
  .row.secondary div {
    padding: 1em 0;
    width: 100%;
  }
  .row.secondary div:hover {
    background-color: #25262e;
  }
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: center;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .row.secondary {
      flex-direction: column;
    }
  }
  