@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'poppins', sans-serif !important;
    box-sizing: border-box;

}

/* .award img{
  padding: 30px;
} */

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

/* top banner */

.top-banner{
    font-family: 'poppins', sans-serif !important;    
    color: white;
    background: var(--accent-color-dark);
    padding: 6px;
}

video{
    /* position: absolute; */
    width: 100%;
    display: flex;
}

.heading-section{
    font-size: 3rem;
    margin-top: -430px;
    opacity: .9;
}

/* Flash news */

.latest-news{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 350px;
}


.news-container {
    overflow: hidden;
    width: 100%;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.news-container ul li {
    white-space: nowrap;
    font-size: 20px;
    color: black;
    margin-top: 20px;
    /* padding: 24px 24px; */
    position: relative;
}

.news-container ul li::after {
    content:"";
    color: red;
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-1083px);

    }
}

/* Services of college */

  /* card */

  .card2 {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .card2:hover {
    height: 320px;
  }
  
  .imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-80px);
    z-index: 99;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }
  
  .content2 {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-450px);
    opacity: 0;
    transition: 0.3s;
  }
  
  .card2:hover > .content2 {
    opacity: 1;
    transform: translateY(-180px);
  }
  
  .content2 h2 {
    color: #7f9ead;
  }

  img{
    box-shadow: none;
    margin-top: 50px;
  }


  /* card slider */

  .slider-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  
  .slider-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  
  .card {
    border-radius: 25px;
    background-color: #fff;
  }
  
  .image-content,
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  
  .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px;
    top: 0;
    left: 0;
  }
  
  .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
  }
  
  .card-image img {
    margin-top: -1px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4070f4;
  }
  
  .name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  .description {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    text-align: center;
  }
  
  .button {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    cursor: pointer;
    margin: 14px;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #265df2;
  }
  
  .swiper-navBtn {
    color: #6e93f7;
    transition: all 0.3s ease;
  }
  
  .swiper-navBtn:hover {
    color: #4070f4;
  }
  
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 35px;
  }
  
  .swiper-button-next {
    right: 0;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-pagination-bullet {
    background-color: #6e93f7;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #4070f4;
  }
  
  @media (max-width: 768px) {
    .slider-content {
      margin: 0 10px;
    }
  
    .swiper-navBtn {
      display: none;
    }
  }


  /* Carsual card */

  .carousel-container {
    width: 1000px; /*use media query*/
    margin: 10px auto;
    min-height: 200px;
    position: relative;
    direction: ltr;
}
@media only screen and (max-width: 600px) {.carousel-container {
        width: 80%;
    }}

@media only screen and (min-width: 600px) {.carousel-container {
        width: 80%;
    }}

@media only screen and (min-width: 768px) {.carousel-container {
        width: 80%;
    }}

@media only screen and (min-width: 992px) {.carousel-container {
        width: 85%;
    }}

@media only screen and (min-width: 1200px) {.carousel-container {
        width: 85%;
    }}

.carousel-container .track {
    display: inline-flex;
    transition: transform 2s;
}
.carousel-container .card-container {
    width: 254px;
    height: 250px;
    padding-right: 15px;
    box-sizing: border-box;
    /*border: 1px solid orange;*/
    flex-shrink: 0;
    direction: rtl;
  }
  .carousel-container .card-container .card {
    /* background: transparent; */
    /* background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(19,26,28,1) 18%, rgba(0,212,255,1) 100%); */
    height: 100%;
    width: 100%;
    /* border: 1px solid #cccccc; */
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.carousel-container .carousel-inner {
    overflow: hidden;
}
.nav .arrow {
    width: 60px;
    height: 60px;
    border: 1px solid #aaaaaa;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav div{
    background: rgba(222,222,222,0.6);
}
.nav div:hover{
    background: rgba(222,222,222,0.2);
}
.nav div span{
    font-size: 2em;
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .right {
    right: -30px;
}

.nav .left {
    left: -30px;
    display: none;
}
.nav .right.hide {
    display: none;
}

.nav .right.show {
    display: block;
}
.nav .left.show {
    display: block;
}
.card > * {
    flex: 0;
}
.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-grow: 1;
}
.card img {
  margin-top: -1px;
    width: 100%;
    /* min-height: 150px;
    max-height: 150px; */
    border-radius: 50%;
}
.card .info {
    flex-basis: 80px;
    flex-grow: 0;
    background: #333333;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}

summary{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

/* Footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #172F41;
  color: white;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: white;
  font-size: 14px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: white;
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


/* card section */

.box34 {
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.box34 img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.content23 {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 100%;
  left: 10px;
  width: 95%;
  height: 100%;
  color: #fff;
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.8s ease-in;
}

.content23 button{
  padding: 3px 8px;
  border-radius: 3px;
  background-color: #0B94F0;
  color: white;
}

.box34:hover .content23 {
  top: 0;
}

button a{
  list-style: none;
  text-decoration: none;
  color: white;
}